name: testing

on: [pull_request]

jobs:
  plot_publish:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install dependencies
      env:
        # Need to be of format repo:branch.
        BENCHOPT_BRANCH: Melvin-klein:pretty_names
      run: |
        pip install -r requirements.txt

        USER=${BENCHOPT_BRANCH%:*}
        BRANCH=${BENCHOPT_BRANCH##*:}
        echo "using branch $USER:$BRANCH"
        pip install -U git+https://github.com/$USER/benchOpt@$BRANCH
    - name: Render
      run: |
        make render

    - name: Upload results
      uses: actions/upload-artifact@v2
      with:
        name: results
        path: build
